+nav("Project name", "dropdown_menu")
            +nav_item( "/", "active" ) Home
            +nav_item( "buttons" ) Buttons & Alerts
            +nav_item( "lists" ) Lists
            +nav_item_dropdown( "#" )( label="Dropdown")
                +nav_item( "#" ) Action
                +nav_item( "#" ) Another action
                +nav_item( "#" ) Something else here
                +nav_divider
                +nav_header Nav header
                +nav_item( "#" ) Separated link
                +nav_item( "#" ) Theme is #{mytheme}